In [1]:
import pandas as pd
import numpy as np
import json
import os
import pickle

In [2]:
#path = '/home/gigilovicu/Documents/masters/semester_3/thesis/github/data/'
path = 'C:\\Users\\ivano\\Desktop\\DSMMaster\\CryptoThesis\\data'
os.chdir(path)

In [3]:
### IMPORT, CLEAN AND JOIN DATA ######
# Opening JSON file with entity labels
with open('entities.json') as f:    
    entities = json.load(f)
entities = pd.DataFrame(entities)
entities.columns = ['id', 'entity', 'category', 'user_score']

In [8]:
entities

        id              entity   category  user_score
0     1281    1000 Dreams Fund  Donations         NaN
1      637     100x your coins     Others         0.0
2      646   10x your altcoins     Others         0.0
3     1532              1517.0  Donations         NaN
4     1364          18eighteen     Others         NaN
...    ...                 ...        ...         ...
1678  1450                ZERO  Donations         NaN
1679  1352  Zero Abuse Project  Donations         NaN
1680   482           ZetCasino   Gambling         1.0
1681   469           ZigZag777   Gambling         1.0
1682   525            Zoo + CP       CSAM         1.0

[1683 rows x 4 columns]

In [4]:
#Read in high_risk labels
#with open(r'high_risk.pkl', 'rb') as f:
#    high_risk = pickle.load(f)  

#labels = pd.read_csv(r'labels.csv', names = ['address', 'entity'])
labels = pd.read_pickle('labels.pkl')
labels = labels.set_index('address')
#labels.to_pickle('labels.pkl')

In [5]:
labels.head(10)

                                                 entity
address
3641GAG61cnjDfUkdzmNWDKRTyMzJQLcYA                Upbit
12k36cRvjQcpv5jGF2EmD2wF3Eh3oghLEZ                Bybit
3Bw6HY6tRFCNUKUstzdV8EfhAXmgpUCMex            CasinoMax
17fsVjSPjeQ9cMa7oVwN717ZiqAki4cgLg                LBank
17o3kbDqjS59scobDLLtLwzewbCZJTgbN7                Bybit
34HbHeFGhpXJWs1NiVCmCFWeaiZzd3armQ  Canada HeadQuarters
3B8rZncdiij25wHmfky5wBGV4iRh2ZpBEj               Gamdom
3R266vsBVUqdkBxWsoFy8eTAdKC7P13J2q            CryptoPay
3J993VPAEHCM2NR5HJMncrVf2PfQsWyVhk               Bitkub
3EJNvBD2A29KATZc6wSzoaCqkxZZqiMHUS         SouthXchange

In [6]:
with open(r'input_labels.pkl', 'rb') as f:
    input_labels = pickle.load(f)  
    
with open(r'output_labels.pkl', 'rb') as f:
    output_labels = pickle.load(f)  

input_labels = pd.DataFrame(input_labels, columns = ['address'])
input_labels = input_labels.set_index('address')

output_labels = pd.DataFrame(output_labels, columns = ['address'])
output_labels = output_labels.set_index('address')

In [24]:

input_labels = pd.concat()

In [ ]:


#input_labels = input_labels.join(labels, on = 'address', how = 'left')    
#input_labels = input_labels.merge(entities, on = 'entity', how = 'left')

output_labels = output_labels.merge(labels, on = 'address', how = 'left')    
output_labels = output_labels.merge(entities, on = 'entity', how = 'left')
    
#Read in panel data and pickle
#all_files = glob.glob(os.path.join(path , "pannel/*.csv"))
#li = []
#for filename in all_files:
#    df = pd.read_csv(filename, index_col=None, header=0)
#    li.append(df)
#txn_data = pd.concat(li, axis=0, ignore_index=True)
#txn_data.to_pickle(path + 'txn_data.pkl')

# Read in panel pickle
with open(r'txn_data.pkl', 'rb') as f:
    high_risk = pickle.load(f)

input_labels.to_pickle(path + 'input_labels_full.pkl')
output_labels.to_pickle(path + 'output_labels_full.pkl')